doctype html
html
    head
        title="Login form"
    body
        p Tu możesz się do Google:
	    input(type="text",name="Login")
	    input(type="text",name="Password")
	    input(type="submit",value="Login")

	    

	    
	    
	 